In [1]:
import pandas as pd
import numpy as np

In [2]:
INPUT_FILE = "inventory_raw.csv"

In [3]:
raw_data = pd.read_csv(INPUT_FILE)

In [4]:
raw_data

,source_row_id,ip,hostname,fqdn,mac,owner,device_type,site,notes
0,1,192.168.010.005,HOST01,NaN,AA-BB-CC-DD-EE-FF,priya (platform) priya@corp.example.com,server,BLR Campus,db host
1,2,10.0.1.300,host-02,host-02.local,11-22-33-44-55-66,ops,NaN,HQ Bldg 1,edge gw?
2,3,10.0.1,host03,NaN,aabb.ccdd.eeff,jane@corp.example.com,switch,HQ-BUILDING-1,NaN
3,4,10.0.1.1.2,printer-01,NaN,00:11:22:33:44:55,Facilities,printer,HQ,NaN
4,5,fe80::1%eth0,iot-cam01,NaN,00:aa:bb:cc:dd:ee,sec,iot,Lab-1,camera PoE on port 3
5,6,127.0.0.1,local-test,NaN,NaN,NaN,NaN,NaN,NaN
6,7,169.254.10.20,host-apipa,NaN,NaN,NaN,NaN,NaN,NaN
7,8,10.10.10.10,srv-10,NaN,NaN,platform,server,BLR campus,NaN
8,9,abc.def.ghi.jkl,badhost,NaN,NaN,NaN,NaN,NaN,NaN
9,10,192.168.1.-1,neg,NaN,NaN,NaN,NaN,NaN,NaN
10,11,192.168.1.255,bcast,NaN,NaN,NaN,NaN,NaN,Potential broadcast
11,12,192.168.1.0,netid,NaN,NaN,NaN,NaN,NaN,Potential network id
12,13,8.8.8.8,dns-google,NaN,NaN,NaN,router,DC-1,NaN
13,14,010.010.010.010,host-10,NaN,NaN,NaN,server,NaN,NaN
14,15,NaN,missing-ip,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(list(raw_data.columns))

['source_row_id', 'ip', 'hostname', 'fqdn', 'mac', 'owner', 'device_type', 'site', 'notes']

In [6]:
# Set index to source_row_id
raw_data = raw_data.set_index("source_row_id")

In [7]:
raw_data

,ip,hostname,fqdn,mac,owner,device_type,site,notes
source_row_id,,,,,,,,
1,192.168.010.005,HOST01,NaN,AA-BB-CC-DD-EE-FF,priya (platform) priya@corp.example.com,server,BLR Campus,db host
2,10.0.1.300,host-02,host-02.local,11-22-33-44-55-66,ops,NaN,HQ Bldg 1,edge gw?
3,10.0.1,host03,NaN,aabb.ccdd.eeff,jane@corp.example.com,switch,HQ-BUILDING-1,NaN
4,10.0.1.1.2,printer-01,NaN,00:11:22:33:44:55,Facilities,printer,HQ,NaN
5,fe80::1%eth0,iot-cam01,NaN,00:aa:bb:cc:dd:ee,sec,iot,Lab-1,camera PoE on port 3
6,127.0.0.1,local-test,NaN,NaN,NaN,NaN,NaN,NaN
7,169.254.10.20,host-apipa,NaN,NaN,NaN,NaN,NaN,NaN
8,10.10.10.10,srv-10,NaN,NaN,platform,server,BLR campus,NaN
9,abc.def.ghi.jkl,badhost,NaN,NaN,NaN,NaN,NaN,NaN
10,192.168.1.-1,neg,NaN,NaN,NaN,NaN,NaN,NaN
11,192.168.1.255,bcast,NaN,NaN,NaN,NaN,NaN,Potential broadcast
12,192.168.1.0,netid,NaN,NaN,NaN,NaN,NaN,Potential network id
13,8.8.8.8,dns-google,NaN,NaN,NaN,router,DC-1,NaN
14,010.010.010.010,host-10,NaN,NaN,NaN,server,NaN,NaN
15,NaN,missing-ip,NaN,NaN,NaN,NaN,NaN,NaN